---
import stateConfig from '~@/slate.config';
import type { ThemeOptions } from '@/typings/config';
import ThemeSelect from '@/components/theme-select';
import SocialLinks from '@/components/social-links';
import slateConfig from '~@/slate.config';
---

<footer class="mt-auto">
  {!!slateConfig.socialLinks && <SocialLinks client:visible />}
  <div class="mt-4 flex items-center justify-between">
    <div></div>
    {
      (stateConfig.theme as ThemeOptions).enableUserChange && (
        <ThemeSelect client:visible />
      )
    }
  </div>
</footer>
